form {
  width: 350px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.loginContainer {
  background-color: var(--yellow-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.formTitle {
  font-size: 2rem;
  font-weight: bold;
  color: var(--blue-dark);
  margin-bottom: 20px;
  text-align: center;
}

.formInput {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  padding: 0px;
  padding-left:0px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  background-color: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  
}

.formInput:focus {
  outline: none;
  box-shadow: 0px 0px 5px var(--blue-light);
}

.formButton {
  width: 100%;
  height: 50px;
  margin-top: 20px;
  border-radius: 5px;
  border: none;
  background-color: var(--yellow-dark);
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.formButton:hover {
  background-color: var(--yellow-dark);
}

.formError {
  color: red;
  margin-top: 10px;
  text-align: left;
}

.formMessage {
  color: var(--blue-dark);
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 1rem;
  font-size: 0.9rem;
}

.formLink {
  font-weight: bold;
  color: var(--blue-dark);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}











