.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--gray-to-bg-dark);
  margin-top: 9rem;
}
.container > img {
  padding-top: 15px;
}


.carusel {
  width: 85vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* overflow-x: scroll;
  overflow-y: hidden; */
  padding-top: 35px;
}



.item {
  width: 10.5rem;
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  text-align: center;
  color: var(--blue-dark-to-yellow-main);
  font-weight: bold;
  margin: 0 0 1em 1em;
  word-wrap: break-word;
  flex-shrink: 0;
  border-radius: 2rem;
  text-decoration: none;
  padding: 0 1em 0 1em;
}

.item span:nth-child(1) {
  font-size: 4.5rem;
}

.item:hover {
  color: var(--blue-light-to-yellow-light);
}
.item:focus {
  color: var(--yellow-main);
}
.menu {
  width: 100vw;
  display: inline-block;
  text-align: center;
  align-items: center;
}

.seeMore  {
  border: none;
  background-color: transparent;
}
.seeMore span {
  color: var(--yellow-main);
  font-size: 2.5rem;
}

.seeMore span:hover {
  color: var(--blue-light);
}


/* Designing for scroll-bar*/
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--blue-dark-to-yellow-dark);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--blue-light-to-yellow-dark);
  border: 0.15em solid var(--transparent-to-yellow-main);

}
