.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--grey);
}
.container > img {
  padding-top: 15px;
}

.carusel {
  width: 81vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-top: 35px;
}

.item {
  width: 11.5rem;
  height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  text-align: center;
  color: var(--blue-dark);
  color: var(--blue-dark);
  font-weight: bold;
  margin: 0 0 1em 1em;
  word-wrap: break-word;
  flex-shrink: 0;
  border-radius: 2rem;
  text-decoration: none;
  padding: 0 1em 0 1em;
}

.item span:nth-child(1) {
  font-size: 3.5rem;
}

.item:hover {
  color: var(--blue-light);
}
.item:focus {
  color: var(--yellow-main);
}
.menu {
  width: 100vw;
  display: inline-block;
  text-align: center;
  align-items: center;
}

/* Designing for scroll-bar*/
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--blue-dark);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--blue-light);
}
