.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container > img {
  padding-top: 15px;
}

.carusel {
  width: 70vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-top: 35px;
}

.item {
  width: 135px;
  height: 69px;
  background-color: var(--yellow-main);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 1em 1em;
  word-wrap: break-word;
  flex-shrink: 0;
  border-radius: 10px;
  color: var(--blue-dark);
  text-decoration: none;
}

.menu {
  width: 100vw;
  display: inline-block;
  text-align: center;
  align-items: center;
}

/* Designing for scroll-bar*/
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #09c;
}
