.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.small{
  height: 150px;
  width: 150px;
}
.medium{
  height: 350px;
  width: 350px;
}
.large{
  height: 600px;
  width: 600px;
}
