.productImage img {
  border-radius: 30%;
  width: 5rem;
  height: 5rem;
  object-fit: cover;
}

.productContent {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: flex-start;
  width: 70%;
  /* background-color: var(--grey-to-bg-medium); */
  color: var(--blue-dark-to-yellow-main);
}

.link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  text-decoration: none;
  cursor: pointer;
  height: 5rem;
  padding: 1rem;
}

.productContent h1 {
  margin: 0;
  font-size: 1.5rem;
}
.productContent h2 {
  margin: 0;
  font-size: 1.5rem;
}

.headerContainer {
  border-bottom: 1px solid var(--yellow-main);
  /* background-color: white; */
  background-color: var(--gray-to-bg-medium);
}

.ownerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.ownerContainer h3 {
  font-size: 1rem;
  margin: 0;
  color: var(--blue-dark-to-yellow-main);
}

.ownerContainer img {
  border-radius: 100%;
  width: 4rem;
  height: 4rem;
  object-fit: cover;
}

.noImage {
  width: 5rem;
  height: 5rem;
  background-color: var(--blue-medium-to-yellow-light);
  border-radius: 30%;
  color: var(--white-to-yellow-main);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border: none;
}

.noImage span {
  font-size: 2rem;
}
