.chatroomContainer {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 1.5rem;
  padding: 1rem;
  gap: 1rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  font-size: 1rem;
  background-color: var(--grey-to-bg-medium);
}
.messageContainer {
  height: 38vh;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow-y: scroll;
  padding: 1rem;
  border-bottom: 1px solid var(--blue-dark-to-yellow-main);
  border-radius: 10px;
  /* background-color: var(--grey); */
  background-color: var(--gray-to-bg-dark);
}

.myMessage {
  color: var(--yellow-light);
  align-self: flex-end;
  background-color: var(--blue-dark-to-yellow-main);
  color: var(--yellow-light-to-black);
}

.otherMessage {
  align-self: flex-start;
  background-color: var(--yellow-main-to-blue-medium);
  color: var(--black-to-yellow-light);
}
.myMessage,
.otherMessage {
  max-width: fit-content;
  padding: 0.5rem;
  border-radius: 10px;
}

.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 1rem;
}

.formContainer input[type="submit"] {
  height: 2.5rem;
  border-radius: 2.5rem;
  font-size: 1rem;
  cursor: pointer;
  width: 10rem;
  height: 3rem;
  background-color: var(--yellow-main);
  color: var(--yellow-light);
  border: none;
}

.textareaChat {
  font-size: 1rem;
  width: 30rem;
  padding: 0.5rem;
  min-height: 3rem;
  border-radius: 0.5rem;
  background-color: var(--gray-to-bg-dark);
  color: var(--black-to-yellow-light);
}
