.imagesContainer {
  position: relative;
  top: 2rem;
}
.yellowChar {
  color: var(--yellow-main);
  font-size: 1.3em;
}
.title {
  color: var(--yellow-main)
 }

.line {
  background-color: var(--yellow-main);
  height: 2px;
  opacity: 1;
  margin: 2em 0 1em 0;
}

.images {
  width: 44rem;
  height: auto;    
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.images .image {
  width: 8rem;
  height: 8rem;
  background-color: transparent;
  color: var(--blue-light);
  border-radius: 1rem;
  border-style: dotted;
  border-width: 0.25rem;
  border-color: var(--blue-light);
  cursor: pointer;
}

.image span:nth-child(1) {
  font-size: 3rem;
}

.image:hover {
  border-color: var(--yellow-main);
  color: var(--yellow-main);
}

.button {
  width: 13rem;
  height: 3rem;
  font-size: 1.2rem;
  padding: 0 1rem;
  border-radius: 2.5rem;
  border: none;
  background-color: var(--yellow-main);
  box-shadow: 2px 2px 2px .5px var(--blue-light);
  color: var(--yellow-light);
  font-weight: bold;
  cursor: pointer;
  position: relative;
  top: 2rem;
  margin-bottom: 2em;;
}

.button:hover {
  background-color: var(--blue-light);
  box-shadow: 2px 2px 2px .5px var(--yellow-light);
  color: white;
}

.tip {
  border: 2px solid var(--yellow-main);
  padding: 1em 1em;
  border-radius: 1.5rem;
}