@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.sideBar {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  /* align-items: center; */
  width: 15vw;
  height: auto;
  padding: 1rem;
  gap: 3rem;
  background-color: var(--white-to-bg-medium);
  color: var(--blue-dark-to-yellow-main);
}

.sideBar :hover {
  background-color: var(--blue-dark-to-yellow-main);
  color: var(--yellow-light);
  border-radius: 1rem;
  box-shadow: 0 0 3px  var(--black-to-yellow-main);
}
.sideBar :focus {
  background-color: var(--blue-dark-to-yellow-main);
  color: var(--yellow-light);
  border-radius: 1rem;
  box-shadow: 0 0 3px  var(--black-to-yellow-main);
}

.sideBar a {
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 12vw;
  gap: 1rem;
  font-size: 1rem;
  color: var(--black-to-yellow-main);
}

.profileLink img {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  border-radius: 100%;
}

.profileLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bolder;
  padding-left: 0;
}
.profileLink :hover {
  background-color: transparent;
  box-shadow: none;
}
