.line {
  background-color: var(--blue-dark);
  height: 2px;
  opacity: 1;
  position: relative;
  top: 4.7rem;
}

.productPage {
  display: flex;
  flex-direction: column;
  padding: 2rem 5rem 1rem 5rem;
  background-color: var(--gray-to-bg-dark);
  margin: 4em auto;
}

.container {
  display: flex;
  flex-direction: column;
  width: 42rem;
  height: auto;
  background-color: var(--white-to-bg-medium);
  border-radius: 1.5rem;
  padding: 2.5em 2.5em;
  margin: auto;
  position: relative;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.upperBar {
  display: flex;
  width: 42rem;
  height: 3rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
}
.buttons {
  display: flex;
  gap: 1em;
}
.like {
  width: 5rem;
  height: 2rem;
  border-radius: 2.5rem;
  border: 0.2em solid var(--blue-dark-to-yellow-light);
  background-color: var(--white-to-bg-medium);
  color: red;
  cursor: pointer;
}

.like:hover {
  background-color: red;
  color: white;
  border: none;
}

.focused {
  background-color: red;
  color: white;
  border: none;
}

.chat {
  width: 5rem;
  height: 2rem;
  border-radius: 2.5rem;
  border: 0.2em solid var(--yellow-main);
  background-color: var(--white-to-bg-medium);
  color: var(--yellow-main);
  font-weight: bold;
  cursor: pointer;
}

.chat:hover {
  background-color: var(--yellow-main);
  color: var(--white-to-bg-medium);
}

.details {
  position: relative;
  top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--blue-dark-to-yellow-light);
}

.category {
  display: flex;
  align-items: center;
  gap: 1em;
  width: max-content;
  height: 3rem;
  padding: 0 1em 0 1em;
  border-radius: 2em;
  border: var(--blue-dark-to-none);
  background-color: var(--white-to-bg-medium);
  color: var(--blue-dark-to-yellow-light);
}

.category a {
  text-decoration: none;
  color: var(--blue-dark-to-yellow-light);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.category span {
  color: var(--blue-dark-to-yellow-light);
  font-size: 2.5em;
}

.category:hover span {
  color: var(--yellow-main);
}

.category:hover a {
  color: var(--yellow-main);
}
.category:hover {
  border: 0.1em solid var(--yellow-main);
  color: var(--blue-dark-to-yellow-light);
}

.expandable {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 40rem;
  height: 3rem;
  margin: 2rem 0;
  color: var(--blue-dark-to-yellow-light);
  background-color: var(--white-to-bg-medium);
}

.expandable span:nth-child(1):hover {
  color: var(--yellow-main-to-yellow-light);
  background-color: var(--white-to-bg-medium);
  cursor: pointer;
}

.expandable span:nth-child(1) {
  font-size: 2em;
  color: var(--blue-dark-to-yellow-main);
  background-color: var(--white-to-bg-medium);
}
.arrow {
  position: relative;
  left: 18rem;
  background-color: var(--white-to-bg-medium);
  border: none;
}
.active {
  position: relative;
  left: 18rem;
  background-color: var(--white-to-bg-medium);
  border: none;
  transform: rotate(180deg);
}
.priceContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.price {
  color: var(--yellow-main);
  line-height: 0.1em;
}

.textExpanded {
  padding: 1rem 0;
}

.media {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 3rem;
  background-color: var(--white-to-bg-medium);
  width: 75%;
  height: max-content;
  margin: 2em 0 4em 0;
  padding: 0.8em 0 0.8em 0;
  border-radius: 1em;
  position: relative;
  left: 5.625em;
  border: 0.2em solid var(--yellow-main);
  color: var(--blue-dark-to-yellow-light);
}

.mediaIcons {
  display: flex;
  justify-content: center;
  gap: 2.5em;
  font-size: 2em;
}

.mediaIcons span:nth-child(1) {
  color: #3a559f;
}
.mediaIcons span:nth-child(2) {
  color: #55acee;
}
.mediaIcons span:nth-child(3) {
  color: #1bd741;
}
.mediaIcons span:nth-child(4) {
  color: #f14336;
}

.mediaIcons span:nth-child(1):hover {
  color: #2c3f72;
  cursor: pointer;
}
.mediaIcons span:nth-child(2):hover {
  color: #3a75a1;
  cursor: pointer;
}
.mediaIcons span:nth-child(3):hover {
  color: #0e7022;
  cursor: pointer;
}
.mediaIcons span:nth-child(4):hover {
  color: #992921;
  cursor: pointer;
}
.detailType {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 3rem;
  color: var(--blue-dark-to-yellow-light);
}

.detailType2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 3rem;
  color: var(--blue-dark-to-yellow-light);
}
.detail {
  border: 0.2em solid var(--blue-light);
  border-radius: 2rem;
  width: max-content;
  padding: 0.3em 1em;
}

.specialDetails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* background-color: var(--blue-dark); */
  /* color: white; */
  border-radius: 2rem;
  padding: 0 1em 0 1em;
  gap: 1em;
}

.detailsContainer {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--blue-dark-to-yellow-light);
}

.linksContainer {
  display: flex;
  justify-content: space-between;
  height: max-content;
}

.links span {
  font-size: 2rem;
  color: var(--yellow-main);
}

.linksContainerHouse {
  display: flex;
  justify-content: space-around;
  height: max-content;
}

.alert {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  position: fixed;
  top: 39%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  border-radius: 1em;
  padding: 1.5em;
  text-align: center;
  z-index: 9999;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.accept:hover {
  background-color: var(--yellow-main);
  color: white;
}

.accept {
  width: 7rem;
  height: 2rem;
  border-radius: 2.5rem;
  border: none;
  /* border: 0.2em solid var(--yellow-main); */
  background-color: var(--yellow-main);
  color: var(--white-to-bg-medium);
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
}

.accept:hover {
  background-color: var(--blue-light);
  color: white;
}

.user {
  display: flex;
  align-items: center;
  gap: 1em;
  color: var(--blue-dark-to-yellow-main);
}
.background {
  width: 4em;
  height: 4em;
  background-color: var(--yellow-main);
  border-radius: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.userPhoto {
  width: 3em;
  height: 3em;
  border-radius: 1em;
}

.alertButtons {
  display: flex;
  gap: 2em;
}

.imgLink {
  width: 12rem;
}