.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--gray-to-bg-dark);
  margin-top: 8rem;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.homeContainer img {
  object-fit: cover;
  max-width: 100vw;
}
/* .homeContainer h1 {
  font-size: 2rem;
  color: var(--blue-dark-to-white);
}

.homeContainer h2 {
  font-size: 1.5rem;
  color: var(--blue-dark-to-white);
} */
