.userPageContainer {
  display: flex;
  gap: 2rem;
}

.profileLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 20vw;
  justify-content: space-around;
}

.navPageContainer h1 {
  font-size: 1.5rem;
}
.navPageContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.profileLink img {
  border-radius: 100%;
}

.linkPageContainer :hover {
  background-color: var(--blue-light);
  color: white;
}
.linkPageContainer :focus {
  background-color: var(--blue-dark);
  color: white;
}

.linkPageContainer {
  display: flex;
  width: 50vw;
  align-items: flex-start;
  gap: 2rem;
}
.linkPageContainer a {
  color: white;
  background-color: var(--yellow-main);
  border-radius: 1.5rem;
  width: 5rem;
  padding: 0.5em 2em;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.outletContainer {
  width: 100%;
  background-color: rgba(198, 197, 197, 0.368);
  padding: 1rem;
}
