.userPageContainer {
  display: flex;
  gap: 2rem;
  background-color: var(--gray-to-bg-dark);
}

.profileLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 20vw;
  justify-content: space-around;
  background-color: var(--gray-to-bg-dark);
}

.navPageContainer h1 {
  font-size: 1.5rem;
}
.navPageContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: var(--gray-to-bg-dark);
}

.profileLink img {
  border-radius: 100%;
}

.linkPageContainer :hover {
  background-color: var(--blue-light);
  background-color: var(--white-to-bg-dark);
}
.linkPageContainer :focus {
  background-color: var(--blue-light);
  background-color: var(--white-to-bg-dark);
}

.linkPageContainer {
  display: flex;
  width: 50vw;
  align-items: flex-start;
  gap: 2rem;
  background-color: var(--gray-to-bg-dark);
}
.linkPageContainer a {
  color: var(--white-to-blue-light);
  background-color: var(--yellow-main-to-bg-dark);
  border-radius: 1.5rem;
  width: 5rem;
  padding: 0.5em 2em;
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

.outletContainer {
  width: 100%;
  background-color: var(--gray-to-bg-dark);
  padding: 1rem;
}
