/* .pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    font-size: 1.2rem;
    gap: 5px;
    color: black;
  } */

.menu {
  display: flex;
  flex-direction: row;
}
