/* .pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    font-size: 1.2rem;
    gap: 5px;
    color: black;
  } */

.menu {
  display: flex;
  flex-direction: row;
  margin-bottom: 0rem;
}

.menu.lastCard {
  margin-bottom: 4rem;
}

.noProducts {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12rem;
  margin-bottom: 3rem;
}

.container {
  margin-top: 3em;
}

.container h1 {
  display: flex;
  justify-content: center;
}