.navbar {
  width: 100vw;
  height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 3rem;
  border-bottom: solid rgba(198, 197, 197, 0.368) 0.1rem;
}

.logoLink img {
  width: 7rem;
  height: auto;
  margin: 0;
}

.tuButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.tuButton img {
  margin: 0;
  width: 2rem;
  height: auto;
  border-radius: 100%;
}

.buttonLink {
  width: 50vw;
  display: flex;
  justify-content: space-around;
  padding-right: 6rem;
}

.buttonLink :hover {
  background-color: #ebaa0525;
  border-radius: 2.5rem;
  color: var(--blue-dark);
  border-color: var(--blue-dark);
}

.buttonLink a {
  width: 7rem;
  height: 2.5rem;
  border-radius: 2.5rem;
  font-size: 0.75rem;
  border: solid 0.15rem var(--yellow-main);
  color: var(--yellow-main);
  font-weight: 600;
  background-color: var(--yellow-light);
  cursor: pointer;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.createProductButton a {
  width: 10rem;
  background-color: var(--yellow-main);
  color: var(--yellow-light);
}
