.darkMode {
  background-color: var(--background-dark);
  color: var(--yellow-main);
  font-size: 2em;
  cursor: pointer;
}

.darkMode:hover {
  color: var(--blue-light);
}

.navbar {
  width: 100vw;
  height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid rgba(245, 241, 241, 0.368) 0.1rem;
  background-color: var(--background-dark);
}

.logoLink img {
  width: 7rem;
  height: auto;
  padding-left: 3rem;
}

.tuButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.tuButton img {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  border-radius: 100%;
}

.buttonLink {
  width: 50vw;
  display: flex;
  justify-content: flex-end;
  gap: 3rem;
  padding-right: 5rem;
}

.buttonLink :hover {
  background-color: var(--background-dark);
  border-radius: 2.5rem;
  color: var(--yellow-main);
  border-color: var(--yellow-main);
}

.buttonLink a {
  width: 7rem;
  height: 2.5rem;
  border-radius: 2.5rem;
  font-size: 0.75rem;
  border: solid 0.15rem var(--blue-light);
  color: var(--blue-light);
  font-weight: 600;
  background-color: var(--background-dark);
  cursor: pointer;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.createProductButton a {
  width: 10rem;
  background-color: var(--background-dark);
  color: var(--blue-light);
}
