.itemContainer img {
  border-radius: 30%;
  width: 3rem;
  height: 3rem;
  object-fit: cover;
}

.itemContainer p {
  font-size: 0.8rem;
  margin: 0;
}

.itemContainer h3 {
  font-size: 1rem;
  margin: 0;
}

.itemContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  gap: 1rem;
  cursor: pointer;
  text-decoration: none;
  background-color: var(--grey);
  border-bottom: 1px solid var(--blue-dark);
  border-radius: 1rem;
}

.chatData {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  width: 15rem;
}

.newMessage {
  background-color: rgb(234, 6, 6);
  width: 1rem;
  height: 1rem;
  color: rgb(234, 6, 6);
  border-radius: 100%
}


.noImage {
  width: 3rem;
  height: 3rem;
  background-color: var(--blue-medium);
  border-radius: 30%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border: none;
}


.noImage span {
  font-size: 1.2rem;
}
