@media screen and (min-width: 500px) {
  .card {
    width: 50rem;
    margin: 0 auto;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: var(--gray-to-bg-dark);
}
.card {
  border-radius: 1rem;
  display: flex;
  margin: 0.7rem;
  overflow: hidden;
  width: 45rem;
  height: 14rem;
  background-color: var(--grey-to-bg-medium);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}
.card:hover {
  box-shadow: 0 0 10px var(--black-to-yellow-main);
}

.columnRight > h6 {
  margin: 0px;
  color: var(--blue-dark-to-grey);
}
.columnRight > h4 {
  padding: 0px;
  margin: 0px;
  font-style: bold;
  font-size: 2em;
  color: var(--yellow-main);
}
.columnRight > p {
  color: var(--blue-dark-to-grey);
  font-size: 0.8em;
  line-height: 1.3em;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.columnLeft {
  width: 16rem;
  height: 16rem;
  background-color: var(--blue-medium-to-blue-light);
}

.columnLeft img {
  width: 16rem;
  height: 16rem;
  border-radius: 1em 0 0 1em;
}
.columnRight {
  width: 28rem;
  padding: 2rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  text-align: justify;
}

.noImage {
  width: 16rem;
  height: 16rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--blue-medium);
}
