.boldChar {
  font-size: 1.1em;
  font-weight: bold;
  text-decoration: underline;
}

.line {
  background-color: var(--blue-dark);
  height: 2px;
  opacity: 1;
  margin: 2em 0 1em 0;
  position: relative;
  top: -1.7em;
}

.images {
  display: flex;
  justify-content: space-around;
}

.images .image {
  width: 6rem;
  height: 6rem;
  background-color: transparent;
  color: var(--blue-light);
  border-radius: 1rem;
  border-style: dotted;
  border-width: 0.25rem;
  border-color: var(--blue-light);
  cursor: pointer;
}

.image span:nth-child(1) {
  font-size: 2.5rem;
}

.image:hover {
  border-color: var(--yellow-main);
  color: var(--yellow-main);
}

.tip {
  border: 2px solid var(--yellow-main);
  padding: 1em 1em;
  border-radius: 1.5rem;
  background-color: var(--yellow-light);
  position: relative;
  top: -1em;
  margin: 0;
}
