.container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--gray-to-bg-dark);

}

.button {
  width: 4em;
  height: 4em;
  font-size: 3em;
  border: none;
  background-color: transparent;
  color: var(--blue-dark);
  cursor: pointer;
}

.button:hover {
  color: var(--yellow-main);
}

.slide {
  max-width: 900px;
  max-height: 450px;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

.slide.active {
  opacity: 1;
}

.imgSlider {
  display: flex;
  align-items: center;
  object-fit: contain;
  border-radius: 3em;
  width: 900px;
  height: 450px;
}

.miniImgContainer {
  display: flex;
  gap: 3rem;
  position: absolute;
  bottom: 5em;
}

.miniImg {
  width: 5rem;
  opacity: 0.5;
  border-radius: 0.5em;
  object-fit: contain;
}

.miniImgactive {
  opacity: 1;
}
