.darkMode {
  background-color: var(--gray-to-bg-dark);
  color: var(--blue-dark);
  font-size: 2em;
  cursor: pointer;
}
.darkMode:hover {
  color: var(--yellow-main-to-blue-light);
}
.navbar {
  width: 100vw;
  height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 3rem;
  border-bottom: solid rgba(198, 197, 197, 0.368) 0.1rem;
  background-color: var(--gray-to-bg-dark);
}

.logoLink img {
  width: 7rem;
  height: auto;
  margin: 0;
}

.buttonLink {
  width: 30vw;
  display: flex;
  justify-content: space-around;
  padding-right: 6rem;
  background-color: var(--grey);
}

.buttonLink :hover {
  background-color: var(--gray-to-bg-dark);
  border-radius: 2.5rem;
  color: var(--blue-dark-to-yellow-main);
  border-color: var(--blue-dark-to-yellow-main);
}

.buttonLink a {
  width: 7rem;
  height: 2.5rem;
  border-radius: 2.5rem;
  font-size: 0.75rem;
  border: solid 0.15rem var(--yellow-main-to-blue-light);
  color: var(--yellow-main-to-blue-light);
  font-weight: 600;
  background-color: var(--yellow-light-to-bg-dark);
  cursor: pointer;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
