.searchContainer {
  display: flex;
  width: 50%;
  box-shadow: none;
  gap: 2rem;
  align-items: center;
  justify-content: space-around;
  margin-left: 3rem;
}
.searchContainer button {
  width: 7rem;
  height: 2.5rem;
  border-radius: 2.5rem;
  font-size: 0.75rem;
  background-color: var(--yellow-main);
  cursor: pointer;
  border: none;
  color: var(--gray-to-bg-dark);
  text-transform: uppercase;
  font-weight: bold;
}
.searchContainer button:hover {
  background-color: var(--gray-to-bg-dark);
  color: var(--blue-dark-to-yellow-main);
  border-color: var(--blue-dark-to-yellow-main);
  border: var(--blue-dark-to-yellow-main) solid 0.15rem;
  cursor: pointer;
}

.searchContainer input {
  border-radius: 10rem;
  border: var(--blue-dark-to-yellow-main) solid 0.1rem;
  width: 80%;
  margin-bottom: 0;
  padding: 0.65rem;
  background-color: var(--gray-to-bg-dark);
  color: var(--blue-dark-to-yellow-light);
}

.searchContainer input::placeholder {
  color: var(--black-to-yellow-light);
}

