.searchContainer {
  display: flex;
  width: 50%;
  background-color: transparent;
  box-shadow: none;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  margin-left: 3rem;
}

.searchContainer button {
  width: 7rem;
  height: 2.5rem;
  border-radius: 2.5rem;
  font-size: 1rem;
  background-color: var(--background-dark);
  cursor: pointer;
  color: var(--blue-light);
  border: solid 0.15rem var(--blue-light);
}
.searchContainer button:hover {
  width: 7rem;
  height: 2.5rem;
  border-radius: 2.5rem;
  font-size: 1rem;
  color: var(--yellow-main);
  border-color: var(--yellow-main);
  cursor: pointer;
  background-color: var(--background-dark);
}

.searchContainer input {
  border-radius: 10rem;
  border: var(--blue-light) solid 0.1rem;
  width: 80%;
  margin-bottom: 0;
  padding: 0.65rem;
  background-color: var(--background-dark);
  color: var(--yellow-light);
}
.searchContainer input::placeholder {
  color: var(--yellow-dark);
}
