.searchContainer {
  display: flex;
  width: 50%;
  background-color: transparent;
  box-shadow: none;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.searchContainer button {
  width: 7rem;
  height: 2.5rem;
  border-radius: 2.5rem;
  border: solid;
  font-size: 0.75rem;
  cursor: pointer;
  background-color: var(--yellow-main);
  color: var(--yellow-light);
  font-weight: 600;
}

.searchContainer :hover {
  background-color: #ebaa0525;
  border-radius: 2.5rem;
  color: var(--blue-dark);
  border-color: var(--blue-dark);
}

.searchContainer input {
  border-radius: 10rem;
  border: none;
  width: 80%;
  margin-bottom: 0;
  padding: 0.65rem;
}
