.mainContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-right: 1rem;
  gap: 1rem;
  background-color: var(--gray-to-bg-dark);
}
.contentContainer {
  display: flex;
  flex-direction: column;
  background-color: var(--white-to-bg-medium);
  color: var(--blue-dark-to-yellow-main);
  padding: 1rem;
  border-radius: 1rem;
}

.handleContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.labels {
  font-size: 1.3rem;
  font-weight: bold;
  padding-right: 5rem;
  padding-left: 1rem;
}
.labelsBth {
  font-size: 1.3rem;
  font-weight: bold;
  display: flex;
  flex-direction: row;
}
.labelsGenero {
  font-size: 1.3rem;
  font-weight: bold;
  display: flex;
  flex-direction: row;
}
.formButton {
  width: 13rem;
  height: 3rem;
  font-size: 1.2rem;
  border-radius: 2.5rem;
  border: 0.15em solid var(--yellow-main-to-blue-light);
  background-color: var(--gray-to-bg-dark);
  color: var(--yellow-main-to-blue-light);
  font-weight: bold;
  cursor: pointer;
  margin-top: 2em;
}

.formButton:hover {
  background-color: var(--yellow-main-to-blue-light);
  color: var(--gray-to-bg-dark);
}
.formButton2 {
  width: 13rem;
  height: 3rem;
  font-size: 1.2rem;
  padding: 0 1rem;
  border-radius: 2.5rem;
  border: 0.15em solid var(--red);
  background-color: var(--gray-to-bg-dark);
  color: var(--red);
  font-weight: bold;
  cursor: pointer;
  margin-top: 2em;
}

.formButton2:hover {
  background-color: var(--red);
  color: var(--gray-to-bg-dark);
}
.inputProfile {
  width: 12rem;
  height: 2.3rem;
  border-radius: 0.5rem;
  border: 0.1em solid var(--yellow-main);
  padding-left: 1rem;
  font-size: 1rem;
  margin-left: 1rem;
  background-color: var(--gray-to-bg-dark);
  color: var(--blue-dark-to-yellow-light);
}

.selectSexo {
  width: 12rem;
  height: 2.3rem;
  border-radius: 0.5rem;
  border: 0.1em solid var(--yellow-main);
  padding-left: 1rem;
  font-size: 1rem;
  margin-left: 1rem;
  background-color: var(--gray-to-bg-dark);
  color: var(--blue-dark-to-yellow-light);
}

.divButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.formPersonal {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  align-content: center;
}

.styleButton {
  display: flex;
  justify-content: center;
}
