.changePhotoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.changePhotoContainer button {
  width: 7rem;
  height: 2.5rem;
  border-radius: 2.5rem;
  font-size: 1rem;
  color: var(--blue-dark);
  background-color: var(--yellow-main);
  cursor: pointer;
  border: none;
}
.changePhotoContainer img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 100%;
  margin: 0;
}

.handleContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.formUser {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
