.createUserContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #007bff;
  }
  
  .formContainer {
    width: 400px;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: #f8f8f8;
    font-size: 16px;
  }
  
  p {
    color: red;
    margin-bottom: 10px;
  }
  
  .registerButton,
  .loginButton {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ff5722;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .registerButton:hover,
  .loginButton:hover {
    background-color: #f4511e;
  }