.container {
  width: 45rem;
  height: max-content;
  background-color: var(--white-to-bg-medium);
  position: relative;
  margin: auto;
  padding: 1rem 2.5rem 1rem 2.5rem;
  border-radius: 1rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);

}

.selector {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  height: fit-content;
  color: var(--blue-dark-to-yellow-main);
}

.selection1 {
  width: 16rem;
  height: 4rem;
  border-radius: 2rem;
  border-radius: 2rem 2rem 0 0;
  border: 0.2em solid var(--yellow-main);
  cursor: pointer;
  background-color: var(--white-to-bg-medium);
  color: var(--yellow-main);
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}
.selection {
  width: 8rem;
  height: 4rem;
  border: 0.2em solid var(--yellow-main);
  border-radius: 2rem 2rem 0 0;
  cursor: pointer;
  background-color: var(--white-to-bg-medium);
  color: var(--yellow-main);
  font-weight: bold;
}
.selection2 {
  width: 8rem;
  height: 4rem;
  border: 0.2em solid var(--yellow-main);
  border-radius: 2rem 2rem 0 0;
  cursor: pointer;
  background-color: var(--white-to-bg-medium);
  color: var(--yellow-main);
  font-weight: bold;
}

.selection1 span:nth-child(1) {
  font-size: 3rem;
}
.selection span:nth-child(1) {
  font-size: 2.5rem;
  font-weight: bold;
}
.selection2 span:nth-child(1) {
  font-size: 3.5rem;
  font-weight: bold;
}
.selection1:hover {
  color: white;
  background-color: var(--yellow-main);
}
.selection:hover {
  color: white;
  background-color: var(--yellow-main);
}
.selection2:hover {
  color: white;
  background-color: var(--yellow-main);
}

.selection1:focus {
  color: white;
  background-color: var(--blue-medium);
  border-color: var(--blue-medium);
}
.selection:focus {
  color: white;
  background-color: var(--blue-medium);
  border-color: var(--blue-medium);
}
.selection2:focus {
  color: white;
  background-color: var(--blue-medium);
  border-color: var(--blue-medium);
}

.vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--blue-dark-to-yellow-main);
}

.vertical:hover {
  color: var(--yellow-main);
}

.tags {
  position: relative;
  font-weight: bold;
}

.icons {
  width: 3rem;
  color: var(--yellow-main);
}
