/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  min-height: 100vh;
  /* color: var(--blue-dark); */

  --red: rgba(226, 34, 34, 0.692);
  --blue-light: #6ae3eb;
  --blue-medium: #39428d;
  --blue-dark: #0e165c;
  --yellow-main: #eba905;
  --yellow-light: #fcf7e3;
  --yellow-dark: #706a53c0;
  --grey: #eaeeee;
  --grey-dark: #868888;
  /* background-color: var(--background-dark); */
  --background-dark: #202123;
  --background-light: var(--grey); /*#eaeeee*/
  --background-medium: #303031;

  /* --gray-to-bg-dark: #eaeeee; /* El otro dark es el (--background-dark)
  --grey-to-white: #eaeeee;
  --grey-to-black: #eaeeee;
  --grey-to-yellow-light: #eaeeee;

  --background-medium: #303031;

  --black-to-white: black;
  --black-to-yellow-dark: black;
  --black-to-yellow-main: black;

  --white-to-bg-medium: white;
  --white-to-bg-dark: white;
  --white-to-black: white;

  --transparent-to-yellow-main: transparent;

  --blue-dark-to-yellow-dark: #0e165c;
  --blue-dark-to-yellow-light: #0e165c;
  --blue-dark-to-yellow-main: #0e165c;
  --blue-dark-to-blue-light: #0e165c;
  --blue-dark-to-bd-medium: #0e165c;
  --blue-dark-to-white: #0e165c;
  --blue-dark-to-grey: #0e165c;
  --blue-dark-to-none: solid 0.15rem var(#0e165c);

  --blue-medium: #39428d;
  --blue-medium-to-blue-light: #39428d;
  --blue-medium-to-bg-dark: #39428d;

  --blue-light-to-yellow-main: #6ae3eb;
  --blue-light-to-yellow-light: #6ae3eb;

  --yellow-light-to-blue-light: #fcf7e3;
  --yellow-light-to-bg-dark: #fcf7e3;

  --yellow-dark-to-bg-dark: #706a53c0;

  --yellow-main-to-blue-light: #eba905;
  --yellow-main-to-blue-dark: #eba905;
  --yellow-main-to-bg-dark: #eba905;
  --yellow-main-to-red: #eba905;

  --none-to-blue-dark: solid 0.15rem var(#0e165c);
  --none-to-blue-light: solid 0.15rem var(#0e165c);
  --none-to-blue-dark: solid 0.15rem var(#0e165c); */
}

body,
#root {
  height: 100vh;
  margin: 0;
  background-color: var(--gray-to-bg-dark);
  color: var(--blue-dark-to-yellow-main);
  /* background-color: var(--background-dark); */
}

h1 {
  /* font-size: 3.2rem; */
  font-size: 2.8rem;
  font-weight: 900;
  line-height: 2.5rem;
}

h2 {
  font-size: 2.2rem;
  font-weight: 900;
  line-height: 2rem;
}

h3 {
  font-size: 1.6rem;
  font-weight: 700;
}

h4 {
  font-size: 1.3rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1.1rem;
}

p {
  font-size: 1rem;
}

/* .button {
  width: 12rem;
  height: 2.5rem;
  border-radius: 2.5rem;
  border: none;
  box-shadow: 2px 2px 4px .5px var(--blue-light);
  cursor: pointer;
}

.button:hover {
  background-color: var(--blue-light);
  color: white;
} */
