/* @tailwind base;
@tailwind components;
@tailwind utilities; */

#root {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  min-height: 100vh;
  color: var(--blue-dark);
  --yellow-main: #eba905;
  --yellow-light: #fcf7e3;
  --yellow-dark: #706a53c0;
  --blue-dark: #0e165c;
  --blue-medium: #39428d;
  --blue-light: #6ae3eb;
  --grey: #eaeeee;
  background-color: var(--grey);
}

body {
  height: 100vh;
  margin: 0;
}

h1 {
  font-size: 2.8rem;
  font-weight: 900;
  line-height: 2.5rem;;
}

h2 {
  font-size: 2.2rem;
  font-weight: 900;
  line-height: 2rem;
}

h3 {
  font-size: 1.6rem;
  font-weight: 700;
}

h4 {
  font-size: 1.2rem;
  line-height: 1.6rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1.1rem;
}

p {
  font-size: 1rem;
}

/* .button {
  width: 12rem;
  height: 2.5rem;
  border-radius: 2.5rem;
  border: none;
  box-shadow: 2px 2px 4px .5px var(--blue-light);
  cursor: pointer;
}

.button:hover {
  background-color: var(--blue-light);
  color: white;
} */
