.sliderContainer {
  width: 42rem;
  height: 355px;
}

.container {
  width: 500px;
  height: 350px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;

}
.noImageContainer {
  width: 42rem;
  display: flex;
  justify-content: center;
}
.noImage {
  width: 500px;
  height: 350px;
  background-color: var(--blue-medium);
  border-radius: 2rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.noImage span:nth-child(1) {
  font-size: 5em;
}

.noImage h3 {
  width: 15em;
}

.slide {
  max-width: 500px;
  height: 350px;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

.slide.active {
  opacity: 1;
}

.button {
  width: 2em;
  height: 2em;
  font-size: 1.2em;
  border-radius: 1.2em;
  position: relative;
  left: 5rem;
  margin: -3em;
  border: none;
  background-color: transparent;
  color: var(--blue-light);
  opacity: 0;
  cursor: pointer;
  transition: 0.25s ease all;
}

.button:hover {
  opacity: 0.8;
  transition: 0.25s ease all;
}

.buttonOpacity {
  width: 2em;
  height: 2em;
  font-size: 1.2em;
  border-radius: 1.2em;
  position: relative;
  left: 5rem;
  margin: -3em;
  border: none;
  background-color: transparent;
  color: black;
  opacity: 0.3;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.25s ease all;
  opacity: 0.3;
}

.imgSlider {
  width: 500px;
  height: 350px;
  border-radius: 1.5em;
  object-fit: contain;
  margin-left: 5rem;
  display: flex;
  align-items: center;
  border: 0.2em solid var(--yellow-main);
  cursor: pointer;
}

.statusTag {
  position: relative;
  top: -21rem;
  background-color: var(--blue-light);
  padding: 0.4em 1em;
  width: max-content;
  border-radius: 2rem;
  font-weight: bold;
}

.dotContainer {
  display: flex;
  gap: 1rem;
  justify-content: center;
 
}
.dot {
  position: relative;
  top: -7rem;
  font-size: 1.5rem;
  opacity: 0.5;
  border-radius: 0.5em;
  /* color: var(--yellow-main); */
  color: var(--blue-light);
}

.dotactive {
  opacity: 1;
}
