.keywords {
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
    width: 15rem;
    height: 5rem;
    gap: 1em;
}

.list {
    display: flex;
    align-items: center;
    list-style: none;
    background-color: var(--yellow-main);
    color: white;
    padding: 0.7em;
    width: fit-content;
    border-radius: 2em;
    font-weight: bold;
    position: relative;
    top: 1.5em;
}