.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(7, 7, 7, 0.027);
  /* background-color: var(--grey);
  background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  width: 60rem;
  height: max-content;
  background-color: white;
  position: relative;
  margin: 0 auto;
  border-radius: 1em;
  padding: 0 2em;
  box-shadow: 2px 2px 5px rgba(104, 104, 104, 0.1);
}

.title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 2rem;
  margin-top: 1.5em
}


.close {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  background-color: transparent;
  border: none;
}

.close span:nth-child(1) {
  color: var(--blue-dark);
  font-size: 1.2em;
}

.close span:nth-child(1):hover {
  color: var(--yellow-main);
  cursor: pointer;
}
