.overlay {
  width: 85vw;
  height: 85vh;
  position: fixed;
  top: 6.7rem;
  left: 14.8rem;
  background-color: rgba(0, 0, 0, 0.1);
  /* background-color: var(--grey);
  background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  width: 60rem;
  min-height: 31rem;
  background-color: white;
  position: relative;
  margin: 0 auto;
  border-radius: 1em;
  padding: 0 2em;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.title > h3 {
  line-height: 1rem;
}

.close {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  background-color: white;
  border: none;
}

.close span:nth-child(1) {
  color: var(--blue-dark);
  font-size: 1.2em;
}

.close span:nth-child(1):hover {
  color: var(--yellow-main);
  cursor: pointer;
}
